#itemPhoto{
    margin: 5%;
    border: 1px solid black;
    width: 90%;
    border-radius: 40px;
}

#itemTittle{
    border: solid 1px black;
    font-size: calc(1.375rem + 1.5vw);
    border-top: none;
    border-left: none;
    border-right: none;
}

#itemPrice{
    font-size: 38px;
    margin: 10px;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}

#itemDescription{
    width: 90%;
    font-size: 15px;
    margin: 10px;
}